:root {
    --base-bg: #f4f7f9;
    --sidebar-bg: #34495e;
    --primary-color: #3498db;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif;
    display: flex;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 220px;
    background: var(--sidebar-bg);
    color: white;
    padding: 20px;
}

.sidebar a {
    color: white;
    display: block;
    padding: 8px 0;
    text-decoration: none;
}

.sidebar a:hover {
    text-decoration: underline;
}

.customButton {
    --btn-color: var(--primary-color); /* default */
    background-color: var(--btn-color) !important;
    color: #fff !important;
    transition: 0.2s ease-in-out !important;
}

.customButton:hover {
    background-color: color-mix(
        in srgb,
        var(--btn-color) 85%,
        black
    ) !important;
    color: #fff !important;
}

.ui.dropdown .scrolling.resizable.menu,
.ui.scrolling.resizable.dropdown .menu {
    resize: none !important;
    height: fit-content !important;
}

/* Make the DataTables Buttons dropdown auto width */
.dt-button-collection {
    width: auto !important;
    min-width: 120px; /* optional */
    max-width: 300px; /* optional to avoid too wide */
    box-sizing: border-box;
}

.dt-scroll-body {
    overflow-x: auto; /* keep horizontal scrolling */
    overflow-y: visible; /* allow vertical expansion */
}

.detail-table tr > td {
    border-top: none !important;
    border-bottom: none !important;
}

.multiselect-wrapper .ui.multiple.selection.dropdown > .label {
    padding: 6px 10px !important;
    background-color: #00b5ad !important;
    border-color: #00b5ad !important;
    border-radius: 6px !important;
    color: white !important;
    box-shadow: none !important;
}

.multiselect-wrapper .ui.multiple.selection.dropdown {
    padding: 9.5px 14px;
    display: flex;
    flex-wrap: wrap;
    gap: calc(0.25rem * 3) !important;
}

.ui.label {
    margin: 0 !important;
}
